body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a,
a:visited {
  color: #00f;
}

a.icon {
  color: #000;
}

li {
  line-height: 1.5em;
}

.main {
  margin: 50px;
}

.time {
  font-weight: bold;
  color: rgb(97, 97, 97);
  margin-bottom: 20px;
}

.subtitle {
  margin-bottom: 20px;
}

.footer {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.footer a,
.footer a:visited {
  color: rgb(97, 97, 97);
}
